{% extends "auctions/layout.html" %}

{% block jumbotron_content %}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            {% if listing.image %}
                <img class="img-fluid rounded" src="{{ listing.image.url }}" alt="{{ listing.title }}">
            {% else %}
                <img class="img-fluid rounded" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="No image available">
            {% endif %}
            
            <div class="col-lg-6">
    
                <h1 class="display-4">{{ listing.title }}</h1>

                <p class="lead">Description: {{ listing.description }}</p>
                
                <p>Starting Bid: <strong>{{ listing.starting_bid.price }} $</strong></p>

                <p>Category: <span class="badge bg-info">{{ listing.get_category_display }}</span></p>

                <p>Owner: <strong>{{ listing.owner }}</strong></p>

                {% if user.is_authenticated %}
                    <form action="{% url 'watchlist' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                        <button type="submit" class="btn my-3
                            {% if listing in user.watchlist.all %}
                                btn-danger
                            {% else %}
                                btn-outline-info
                            {% endif %}">
                            {% if listing in user.watchlist.all %}
                                Remove from Watchlist
                            {% else %}
                                Add to Watchlist
                            {% endif %}
                        </button>
                    </form>
                    {% if listing.state == True %}
                        {% if listing.current_bid %}
                            <h3>Current Highest Bid</h3>
                            <p>User: <strong>{{ listing.current_bid.owner }}</strong></p>
                            <p>Bid: <strong>{{ listing.current_bid.price }} $</strong></p>
                        {% else %}
                            <h3>No Current Bids</h3>
                        {% endif %}

                        {% if error_message %}
                            <div class="alert alert-danger" role="alert">
                                {{ error_message }}
                            </div>
                        {% endif %}

                        {% if user != listing.owner %}
                            <h2 class="mt-4">Place Your Bid</h2>
                            <form action="{% url 'bid' id=listing.id %}" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input type="number" class="form-control" name="current_bid" min="0" step="0.01" placeholder="Enter your bid">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        {% endif %}
                        {% if user == listing.owner %}
                            <h2 class="mt-4">Close bidding</h2>
                            <form action="{% url 'close_bid' listing_id=listing.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn my-3 btn-danger" >Close</button>
                            </form>
                        {% endif %}
                    {% else %}
                        {% if user == listing.current_bid.owner %}
                            <h3>Congratulations You have won the auction</h3>
                            <p>Winning Bid: <strong>{{ listing.current_bid.price }} $</strong></p>
                        {% else %}
                            <h3>The auction has ended </h3>
                            <p>Winning Bid: <strong>{{ listing.current_bid.price }} $ By <strong>{{ listing.current_bid.owner }}</strong></p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <section class="py-5">
        <div class="container px-4 px-lg-5">
            <h2 class="text-light mb-4">Comments</h2>
            <section class="my-4">
                <div class="container">
                {% if user.is_authenticated %}
                    <form action="{% url 'add_comment' listing_id=listing.id %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="commentInput" class="form-label text-light">Your Comment:</label>
                            <textarea id="commentInput" name="comment" class="form-control" rows="3" placeholder="Write your comment here..." required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Comment</button>
                    </form>
                </div>
                {% endif %}
            </section>
            <div class="list-group">
                {% for comment in listing.comments.all %}
                    <div class="list-group-item d-flex justify-content-between align-items-start bg-secondary text-light mb-2 rounded-3">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ comment.owner }}</div>
                            <p class="mb-0">{{ comment.content }}</p>
                        </div>
                    </div>
                {% empty %}
                    <div class="list-group-item bg-secondary text-light mb-2 rounded-3">
                        <p class="mb-0">No comments yet.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}